In [1]:
import pandas as pd
import json 
import requests
from bs4 import BeautifulSoup
import xml.etree.ElementTree as ET

# Load selenium components
from selenium import webdriver
import time

<b>Download the "complex.json" –file from Moodle<b>

In [25]:
with open('Datasets/complex.json') as f:
    df = json.load(f)

In [28]:
# Normalizing the json data
data = pd.json_normalize(df, sep='_')
data

,id,brand,model,year,price,ownership_company,ownership_acquired,ownership_payment_info_credit_card,ownership_payment_info_iban
0,1,Ford,F250,1997,72213,Johns and Sons,24/10/2017,jcb,SA47 315V KYTA 8FVT NCGN MM7G
1,2,Dodge,Grand Caravan,1999,42370,"Crist, Hyatt and Leannon",7/6/2020,instapayment,FR74 8157 1767 53I2 VRAN ZMIB U11
2,3,Audi,A5,2011,19191,Bosco and Sons,23/11/2018,jcb,LB32 4989 VCVZ S5BZ X2CT JKG3 QRAW
3,4,Hyundai,Veracruz,2012,21956,Haley Inc,5/6/2016,bankcard,BE62 4961 0596 5774
4,5,Chevrolet,TrailBlazer,2009,53066,"Zulauf, Nolan and Franecki",14/1/2021,jcb,FR11 1768 5506 10IU QVPN XU2H O88
...,...,...,...,...,...,...,...,...,...
95,96,Hyundai,Elantra,1997,38400,Keebler and Sons,26/6/2019,visa-electron,RS34 1571 2547 8662 4201 18
96,97,Mercury,Grand Marquis,1996,27284,Wunsch-Ernser,9/11/2019,mastercard,AD85 4944 9836 X0YY JZAF NIXH
97,98,GMC,Safari,1996,17723,Ondricka-Schuster,17/7/2016,jcb,FR22 8203 4892 75GI 8YFM NAXR B47
98,99,Dodge,Ram Van 1500,2000,32892,Heathcote-Gleichner,21/4/2016,jcb,SA43 49ZA FH7V 20XN BYDW ROEX
99,100,Kia,Sorento,2004,51338,Maggio-O'Connell,12/2/2019,switch,AT13 3843 5698 8421 0247

<b>Load the "simple.json" –file without pandas, and try to get the
average price with plain Python<b>

In [33]:
with open("Datasets/simple.json", "r") as f:
    data = json.load(f)
data

[{'id': 1,
  'brand': 'Chrysler',
  'model': 'Voyager',
  'year': 2001,
  'owned_by': 'Wolff-Trantow',
  'acquired': '28/12/2016',
  'price': 11565},
 {'id': 2,
  'brand': 'Volkswagen',
  'model': 'Jetta',
  'year': 1995,
  'owned_by': 'Schuppe, Pfeffer and Klein',
  'acquired': '20/4/2016',
  'price': 52431},
 {'id': 3,
  'brand': 'Porsche',
  'model': 'Cayenne',
  'year': 2005,
  'owned_by': 'Mante Group',
  'acquired': '11/6/2020',
  'price': 75552},
 {'id': 4,
  'brand': 'Porsche',
  'model': '928',
  'year': 1994,
  'owned_by': 'Wisozk Group',
  'acquired': '17/6/2019',
  'price': 30331},
 {'id': 5,
  'brand': 'Mercedes-Benz',
  'model': 'SL-Class',
  'year': 2007,
  'owned_by': 'Schiller-Littel',
  'acquired': '20/7/2018',
  'price': 62385},
 {'id': 6,
  'brand': 'Audi',
  'model': 'A6',
  'year': 2008,
  'owned_by': 'Bashirian Inc',
  'acquired': '8/4/2020',
  'price': 76249},
 {'id': 7,
  'brand': 'Lincoln',
  'model': 'Continental',
  'year': 1988,
  'owned_by': 'Hilll, Osinski and Yundt',
  'acquired': '21/12/2016',
  'price': 77793},
 {'id': 8,
  'brand': 'BMW',
  'model': '7 Series',
  'year': 1992,
  'owned_by': 'Rodriguez, Terry and Kub',
  'acquired': '23/11/2016',
  'price': 73343},
 {'id': 9,
  'brand': 'Land Rover',
  'model': 'LR2',
  'year': 2011,
  'owned_by': "Bernier, D'Amore and Heathcote",
  'acquired': '25/6/2016',
  'price': 53393},
 {'id': 10,
  'brand': 'Volkswagen',
  'model': 'R32',
  'year': 2009,
  'owned_by': 'Lowe, Erdman and Nicolas',
  'acquired': '21/12/2018',
  'price': 13299},
 {'id': 11,
  'brand': 'BMW',
  'model': '5 Series',
  'year': 1992,
  'owned_by': 'Kihn, Quitzon and Rice',
  'acquired': '18/4/2016',
  'price': 54379},
 {'id': 12,
  'brand': 'Mazda',
  'model': 'Millenia',
  'year': 1997,
  'owned_by': 'Towne Inc',
  'acquired': '26/3/2017',
  'price': 25629},
 {'id': 13,
  'brand': 'Toyota',
  'model': 'Camry',
  'year': 2002,
  'owned_by': 'Stokes Group',
  'acquired': '3/4/2019',
  'price': 60118},
 {'id': 14,
  'brand': 'Buick',
  'model': 'Skylark',
  'year': 1990,
  'owned_by': 'Bahringer LLC',
  'acquired': '21/6/2017',
  'price': 67097},
 {'id': 15,
  'brand': 'Nissan',
  'model': '300ZX',
  'year': 1995,
  'owned_by': 'Olson, Batz and Runolfsdottir',
  'acquired': '17/1/2017',
  'price': 48485},
 {'id': 16,
  'brand': 'Ford',
  'model': 'Thunderbird',
  'year': 1980,
  'owned_by': 'Hyatt, Leffler and Powlowski',
  'acquired': '23/8/2016',
  'price': 57675},
 {'id': 17,
  'brand': 'GMC',
  'model': 'Yukon XL',
  'year': 2006,
  'owned_by': 'Koepp-Daugherty',
  'acquired': '18/10/2020',
  'price': 8426},
 {'id': 18,
  'brand': 'Lincoln',
  'model': 'Mark VIII',
  'year': 1996,
  'owned_by': 'Armstrong, Swaniawski and Herman',
  'acquired': '28/8/2020',
  'price': 56606},
 {'id': 19,
  'brand': 'Pontiac',
  'model': 'Grand Prix',
  'year': 1994,
  'owned_by': 'Ratke, Jacobson and Walsh',
  'acquired': '7/3/2020',
  'price': 55765},
 {'id': 20,
  'brand': 'Mercedes-Benz',
  'model': 'S-Class',
  'year': 1997,
  'owned_by': 'Boyer Group',
  'acquired': '12/6/2016',
  'price': 43132},
 {'id': 21,
  'brand': 'Spyker',
  'model': 'C8',
  'year': 2005,
  'owned_by': 'Lang Inc',
  'acquired': '1/3/2019',
  'price': 63788},
 {'id': 22,
  'brand': 'Mercedes-Benz',
  'model': 'CL-Class',
  'year': 1998,
  'owned_by': 'Friesen Inc',
  'acquired': '11/9/2019',
  'price': 34952},
 {'id': 23,
  'brand': 'Buick',
  'model': 'Roadmaster',
  'year': 1995,
  'owned_by': 'Padberg, Bogisich and Bernhard',
  'acquired': '27/11/2018',
  'price': 55769},
 {'id': 24,
  'brand': 'Oldsmobile',
  'model': 'Achieva',
  'year': 1995,
  'owned_by': 'Streich Group',
  'acquired': '21/8/2016',
  'price': 23353},
 {'id': 25,
  'brand': 'Mercury',
  'model': 'Grand Marquis',
  'year': 1999,
  'owned_by': 'Kreiger, Cummings and Durgan',
  'acquired': '2/12/2020',
  'price': 33556},
 {'id': 26,
  'brand': 'Ford',
  'model': 'Escort',
  'year': 1998,
  'owned_by': 'Hartmann-Jacobs',
  'acquired': '16/1/2017',
  'price': 12856},
 {'id': 27,
  'brand': 'Toyota',
  'model': 'Highlander Hybrid',
  'year': 2007,
  'owned_by': 'Yundt-Medhurst',
  'acquired': '14/2/2019',
  'price': 15547},
 {'id': 28,
  'brand': 'Nissan',
  'model': 'Frontier',
  'year': 2009,
  'owned_by': 'Hermann, Kirlin and Cremin',
  'acquired': '21/9/2020',
  'price': 16522},
 {'id': 29,
  'brand': 'Mitsubishi',
  'model': 'Expo',
  'year': 1993,
  'owned_by': 'Walter-Hansen',
  'acquired': '6/2/2021',
  'price': 16579},
 {'id': 30,
  'brand': 'Ford',
  'model': 'Escape',
  'year': 2002,
  'owned_by': 'Stokes, Aufderhar and West',
  'acquired': '27/2/2019',
  'price': 5088},
 {'id': 31,
  'brand': 'Kia',
  'model': 'Amanti',
  'year': 2007,
  'owned_by': 'Considine Group',
  'acquired': '26/2/2021',
  'price': 62363},
 {'id': 32,
  'brand': 'Mazda',
  'model': 'B-Series Plus',
  'year': 2002,
  'owned_by': 'Klein Inc',
  'acquired': '4/7/2018',
  'price': 40947},
 {'id': 33,
  'brand': 'Acura',
  'model': 'Integra',
  'year': 1992,
  'owned_by': 'Senger, Effertz and Goldner',
  'acquired': '2/3/2021',
  'price': 74590},
 {'id': 34,
  'brand': 'Lexus',
  'model': 'GS',
  'year': 1995,
  'owned_by': 'Donnelly-Harris',
  'acquired': '30/7/2017',
  'price': 13155},
 {'id': 35,
  'brand': 'Honda',
  'model': 'Civic',
  'year': 2002,
  'owned_by': 'Lueilwitz, Wehner and Johns',
  'acquired': '17/6/2019',
  'price': 12060},
 {'id': 36,
  'brand': 'Mazda',
  'model': 'CX-9',
  'year': 2009,
  'owned_by': 'Graham, Strosin and Schimmel',
  'acquired': '30/12/2016',
  'price': 74733},
 {'id': 37,
  'brand': 'Saturn',
  'model': 'S-Series',
  'year': 1993,
  'owned_by': 'Frami Group',
  'acquired': '4/7/2020',
  'price': 48745},
 {'id': 38,
  'brand': 'Volkswagen',
  'model': 'Cabriolet',
  'year': 1986,
  'owned_by': 'Conn and Sons',
  'acquired': '19/12/2016',
  'price': 79495},
 {'id': 39,
  'brand': 'Infiniti',
  'model': 'G',
  'year': 2000,
  'owned_by': 'Langworth-Jacobson',
  'acquired': '21/8/2019',
  'price': 17866},
 {'id': 40,
  'brand': 'Volkswagen',
  'model': 'Passat',
  'year': 2006,
  'owned_by': 'Adams LLC',
  'acquired': '3/4/2019',
  'price': 12081},
 {'id': 41,
  'brand': 'Saab',
  'model': '9-4X',
  'year': 2011,
  'owned_by': 'Gibson and Sons',
  'acquired': '19/8/2018',
  'price': 52872},
 {'id': 42,
  'brand': 'Volkswagen',
  'model': 'GTI',
  'year': 2006,
  'owned_by': 'Thompson-Labadie',
  'acquired': '18/10/2020',
  'price': 50990},
 {'id': 43,
  'brand': 'Volvo',
  'model': 'C70',
  'year': 2003,
  'owned_by': 'Romaguera, Cummings and Heller',
  'acquired': '8/7/2018',
  'price': 21907},
 {'id': 44,
  'brand': 'Kia',
  'model': 'Sedona',
  'year': 2006,
  'owned_by': 'Williamson-Upton',
  'acquired': '5/2/2018',
  'price': 24312},
 {'id': 45,
  'brand': 'Mitsubishi',
  'model': 'Montero',
  'year': 2006,
  'owned_by': 'Crona, Spinka and Keebler',
  'acquired': '27/12/2020',
  'price': 35123},
 {'id': 46,
  'brand': 'BMW',
  'model': 'X6 M',
  'year': 2011,
  'owned_by': 'Dickens-King',
  'acquired': '9/10/2019',
  'price': 61201},
 {'id': 47,
  'brand': 'Chevrolet',
  'model': '2500',
  'year': 1998,
  'owned_by': 'Hodkiewicz-Deckow',
  'acquired': '7/8/2017',
  'price': 27598},
 {'id': 48,
  'brand': 'Dodge',
  'model': 'Avenger',
  'year': 2000,
  'owned_by': 'Mitchell-Kirlin',
  'acquired': '2/11/2017',
  'price': 64508},
 {'id': 49,
  'brand': 'Mercedes-Benz',
  'model': 'SLK-Class',
  'year': 2005,
  'owned_by': 'Braun-Predovic',
  'acquired': '14/11/2019',
  'price': 41726},
 {'id': 50,
  'brand': 'Lexus',
  'model': 'IS',
  'year': 2008,
  'owned_by': 'Bashirian LLC',
  'acquired': '11/7/2020',
  'price': 68410},
 {'id': 51,
  'brand': 'Lincoln',
  'model': 'Navigator',
  'year': 2008,
  'owned_by': 'Jacobi-Borer',
  'acquired': '14/12/2020',
  'price': 5546},
 {'id': 52,
  'brand': 'Mazda',
  'model': 'RX-7',
  'year': 1984,
  'owned_by': 'Wilkinson, Witting and Schamberger',
  'acquired': '24/3/2018',
  'price': 69498},
 {'id': 53,
  'brand': 'Volkswagen',
  'model': 'Type 2',
  'year': 1989,
  'owned_by': 'Kessler-Stehr',
  'acquired': '10/2/2017',
  'price': 77795},
 {'id': 54,
  'brand': 'Pontiac',
  'model': 'Montana SV6',
  'year': 2006,
  'owned_by': 'Brown-Batz',
  'acquired': '16/3/2019',
  'price': 49974},
 {'id': 55,
  'brand': 'Cadillac',
  'model': 'Escalade EXT',
  'year': 2006,
  'owned_by': 'Bednar Group',
  'acquired': '26/9/2020',
  'price': 37476},
 {'id': 56,
  'brand': 'Plymouth',
  'model': 'Voyager',
  'year': 1998,
  'owned_by': 'Bednar-McCullough',
  'acquired': '3/8/2018',
  'price': 5414},
 {'id': 57,
  'brand': 'Jaguar',
  'model': 'XK',
  'year': 2011,
  'owned_by': 'Deckow-Feeney',
  'acquired': '18/11/2019',
  'price': 17485},
 {'id': 58,
  'brand': 'Porsche',
  'model': '911',
  'year': 2006,
  'owned_by': 'Block-Bashirian',
  'acquired': '7/10/2019',
  'price': 20990},
 {'id': 59,
  'brand': 'Volvo',
  'model': 'XC90',
  'year': 2010,
  'owned_by': 'Dach Group',
  'acquired': '8/4/2018',
  'price': 30460},
 {'id': 60,
  'brand': 'Isuzu',
  'model': 'Hombre Space',
  'year': 1998,
  'owned_by': 'Altenwerth-Roberts',
  'acquired': '2/9/2017',
  'price': 13745},
 {'id': 61,
  'brand': 'Volkswagen',
  'model': 'Tiguan',
  'year': 2010,
  'owned_by': 'Brown, McDermott and Braun',
  'acquired': '4/8/2017',
  'price': 22753},
 {'id': 62,
  'brand': 'Toyota',
  'model': 'RAV4',
  'year': 2010,
  'owned_by': 'Ziemann Group',
  'acquired': '25/2/2017',
  'price': 13047},
 {'id': 63,
  'brand': 'Jaguar',
  'model': 'XK Series',
  'year': 2002,
  'owned_by': 'Jenkins, Shanahan and Blanda',
  'acquired': '5/1/2019',
  'price': 46399},
 {'id': 64,
  'brand': 'GMC',
  'model': 'Vandura G3500',
  'year': 1996,
  'owned_by': 'Quigley-Luettgen',
  'acquired': '18/6/2019',
  'price': 5954},
 {'id': 65,
  'brand': 'Toyota',
  'model': 'Solara',
  'year': 2002,
  'owned_by': 'Howe-Schmeler',
  'acquired': '12/4/2017',
  'price': 16498},
 {'id': 66,
  'brand': 'Ford',
  'model': 'Escape',
  'year': 2013,
  'owned_by': 'Thiel-Kuhlman',
  'acquired': '20/8/2019',
  'price': 44680},
 {'id': 67,
  'brand': 'Mitsubishi',
  'model': 'Endeavor',
  'year': 2004,
  'owned_by': 'Jaskolski LLC',
  'acquired': '7/5/2016',
  'price': 52341},
 {'id': 68,
  'brand': 'GMC',
  'model': 'Yukon XL 2500',
  'year': 2000,
  'owned_by': 'Wintheiser, Quigley and Wiza',
  'acquired': '29/9/2016',
  'price': 53104},
 {'id': 69,
  'brand': 'Land Rover',
  'model': 'Discovery',
  'year': 2011,
  'owned_by': 'Glover-Schultz',
  'acquired': '12/4/2019',
  'price': 60196},
 {'id': 70,
  'brand': 'Ford',
  'model': 'Mustang',
  'year': 1969,
  'owned_by': 'Wunsch-Bahringer',
  'acquired': '11/8/2017',
  'price': 77780},
 {'id': 71,
  'brand': 'Mercury',
  'model': 'Mariner',
  'year': 2008,
  'owned_by': 'Rosenbaum Group',
  'acquired': '2/6/2020',
  'price': 55070},
 {'id': 72,
  'brand': 'Saturn',
  'model': 'Outlook',
  'year': 2010,
  'owned_by': 'Feil-Ziemann',
  'acquired': '12/11/2016',
  'price': 23112},
 {'id': 73,
  'brand': 'Pontiac',
  'model': 'Tempest',
  'year': 1966,
  'owned_by': 'Orn, Little and Kling',
  'acquired': '18/3/2021',
  'price': 78349},
 {'id': 74,
  'brand': 'Mercedes-Benz',
  'model': 'G-Class',
  'year': 2006,
  'owned_by': 'Bailey-Mitchell',
  'acquired': '22/11/2017',
  'price': 18773},
 {'id': 75,
  'brand': 'BMW',
  'model': '5 Series',
  'year': 2002,
  'owned_by': 'Mills-Becker',
  'acquired': '31/12/2020',
  'price': 71259},
 {'id': 76,
  'brand': 'Chevrolet',
  'model': 'Corvette',
  'year': 2005,
  'owned_by': 'Robel, Gutmann and Waters',
  'acquired': '23/7/2017',
  'price': 52438},
 {'id': 77,
  'brand': 'Bentley',
  'model': 'Continental Flying Spur',
  'year': 2011,
  'owned_by': 'Olson-Eichmann',
  'acquired': '19/10/2016',
  'price': 18343},
 {'id': 78,
  'brand': 'Mazda',
  'model': 'Tribute',
  'year': 2005,
  'owned_by': 'Turner, Lang and Rice',
  'acquired': '10/2/2020',
  'price': 64090},
 {'id': 79,
  'brand': 'Lotus',
  'model': 'Exige',
  'year': 2005,
  'owned_by': 'Farrell-Muller',
  'acquired': '10/7/2019',
  'price': 43938},
 {'id': 80,
  'brand': 'Toyota',
  'model': 'Tundra',
  'year': 2000,
  'owned_by': 'Wilderman, Ritchie and Kohler',
  'acquired': '25/8/2020',
  'price': 31753},
 {'id': 81,
  'brand': 'Chevrolet',
  'model': 'Corvette',
  'year': 1968,
  'owned_by': 'Zulauf-Pacocha',
  'acquired': '22/7/2017',
  'price': 20615},
 {'id': 82,
  'brand': 'Ford',
  'model': 'Focus ST',
  'year': 2013,
  'owned_by': 'Veum-Kiehn',
  'acquired': '9/4/2018',
  'price': 76404},
 {'id': 83,
  'brand': 'GMC',
  'model': 'Rally Wagon 1500',
  'year': 1992,
  'owned_by': "Hettinger, Kerluke and O'Reilly",
  'acquired': '18/11/2018',
  'price': 38401},
 {'id': 84,
  'brand': 'Mercury',
  'model': 'Tracer',
  'year': 1995,
  'owned_by': 'Ratke-Deckow',
  'acquired': '22/6/2019',
  'price': 77846},
 {'id': 85,
  'brand': 'Mitsubishi',
  'model': 'Galant',
  'year': 1994,
  'owned_by': 'Hodkiewicz, Lind and Gutkowski',
  'acquired': '20/8/2018',
  'price': 64006},
 {'id': 86,
  'brand': 'Ford',
  'model': 'Thunderbird',
  'year': 1972,
  'owned_by': 'Kilback, Stiedemann and Farrell',
  'acquired': '17/1/2020',
  'price': 37699},
 {'id': 87,
  'brand': 'Ford',
  'model': 'Econoline E250',
  'year': 1998,
  'owned_by': 'Jaskolski, Kertzmann and Lakin',
  'acquired': '5/6/2020',
  'price': 56762},
 {'id': 88,
  'brand': 'Ford',
  'model': 'F350',
  'year': 2002,
  'owned_by': 'Bayer-Veum',
  'acquired': '30/6/2017',
  'price': 20888},
 {'id': 89,
  'brand': 'Chevrolet',
  'model': 'Silverado 2500',
  'year': 2000,
  'owned_by': 'Lynch-Bahringer',
  'acquired': '19/11/2020',
  'price': 26104},
 {'id': 90,
  'brand': 'Lincoln',
  'model': 'Continental',
  'year': 2000,
  'owned_by': 'Price and Sons',
  'acquired': '20/9/2018',
  'price': 48185},
 {'id': 91,
  'brand': 'Lexus',
  'model': 'LS Hybrid',
  'year': 2010,
  'owned_by': 'Zieme Group',
  'acquired': '23/1/2018',
  'price': 9842},
 {'id': 92,
  'brand': 'Mitsubishi',
  'model': '3000GT',
  'year': 1998,
  'owned_by': 'Mann, Rolfson and Dibbert',
  'acquired': '11/9/2017',
  'price': 41166},
 {'id': 93,
  'brand': 'Bentley',
  'model': 'Continental',
  'year': 2011,
  'owned_by': 'Buckridge and Sons',
  'acquired': '4/2/2021',
  'price': 61962},
 {'id': 94,
  'brand': 'Jensen',
  'model': 'Interceptor',
  'year': 1967,
  'owned_by': 'Fay-Fisher',
  'acquired': '26/3/2019',
  'price': 62242},
 {'id': 95,
  'brand': 'Dodge',
  'model': 'Avenger',
  'year': 1996,
  'owned_by': 'Batz-Braun',
  'acquired': '1/9/2020',
  'price': 35653},
 {'id': 96,
  'brand': 'Dodge',
  'model': 'Ram 1500 Club',
  'year': 2000,
  'owned_by': 'Schneider-Donnelly',
  'acquired': '28/9/2016',
  'price': 56256},
 {'id': 97,
  'brand': 'GMC',
  'model': 'Yukon XL 2500',
  'year': 2001,
  'owned_by': 'Powlowski, Lemke and Wiza',
  'acquired': '19/4/2016',
  'price': 50163},
 {'id': 98,
  'brand': 'Chevrolet',
  'model': 'Sportvan G20',
  'year': 1992,
  'owned_by': "O'Keefe, Rogahn and Gleichner",
  'acquired': '1/6/2019',
  'price': 8577},
 {'id': 99,
  'brand': 'Mitsubishi',
  'model': '3000GT',
  'year': 1993,
  'owned_by': 'Hoppe-Kunde',
  'acquired': '29/12/2018',
  'price': 23180},
 {'id': 100,
  'brand': 'Chevrolet',
  'model': 'TrailBlazer',
  'year': 2002,
  'owned_by': 'Wunsch-Friesen',
  'acquired': '14/11/2018',
  'price': 76830}]

In [34]:
# Normalizing the json data
data = pd.json_normalize(data, sep='_')
data

,id,brand,model,year,owned_by,acquired,price
0,1,Chrysler,Voyager,2001,Wolff-Trantow,28/12/2016,11565
1,2,Volkswagen,Jetta,1995,"Schuppe, Pfeffer and Klein",20/4/2016,52431
2,3,Porsche,Cayenne,2005,Mante Group,11/6/2020,75552
3,4,Porsche,928,1994,Wisozk Group,17/6/2019,30331
4,5,Mercedes-Benz,SL-Class,2007,Schiller-Littel,20/7/2018,62385
...,...,...,...,...,...,...,...
95,96,Dodge,Ram 1500 Club,2000,Schneider-Donnelly,28/9/2016,56256
96,97,GMC,Yukon XL 2500,2001,"Powlowski, Lemke and Wiza",19/4/2016,50163
97,98,Chevrolet,Sportvan G20,1992,"O'Keefe, Rogahn and Gleichner",1/6/2019,8577
98,99,Mitsubishi,3000GT,1993,Hoppe-Kunde,29/12/2018,23180
99,100,Chevrolet,TrailBlazer,2002,Wunsch-Friesen,14/11/2018,76830

In [37]:
# Getting the average price without external libraries
prices = data['price']
total  = 0
for price in prices:
    total = sum(prices)
average = total / len(prices)
average

42373.86

<b>Download the "complex.xml" file from Moodle, and create a
DataFrame out of it.<b>

In [40]:
# Loading and reading the xml file
data = pd.read_xml('Datasets/complex.xml')
data = data.drop('ownership', axis=1)
data

     id       brand          model  year  price
0     1       Mazda  B-Series Plus  1994  69221
1     2        Ford           F350  2006  13859
2     3         BMW       7 Series  2012  78125
3     4      Subaru           Baja  2004  32941
4     5        Audi             S6  2007  46761
..  ...         ...            ...   ...    ...
95   96       Lexus             IS  2004  79409
96   97  Oldsmobile        Bravada  2001  61308
97   98       Dodge  Ram 2500 Club  1996  12101
98   99        Jeep       Wrangler  2007  74912
99  100       Buick        Enclave  2008  67937

[100 rows x 5 columns]

<b>Try out Selenium on a site that cannot be scraped with
traditional methods. You can use this tutorial as the starting
point:
<b>

In [19]:
from selenium import webdriver

from selenium.webdriver.common.keys import Keys